
/* ================
Google font
Root
Common class
Header
Home
Work
Food
Footer
================ */

/* ================
    Google font
================ */
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@700&display=swap');


/* ================
    Root
================ */
:root{
    /* color */
    --primary-color: #0b850b;
    --body-color: #fff;
    --body-color-light: #f1f1f1;
    --text-color-light: #838383;
    --body-color-shadow: #dfdfdf;
    --dark-color: #000;

    /* fontSize */
    --font-h1: 3rem;

    /* font-weight */
    --font-bold: 600;
    --font-extra-bold: 700;
}

/* ================
    Common Class
================ */
.catering_bg{
    position: relative;
    background-image: url(../image/background_img.jpg) !important;
    background-position: center;
    background-size: cover;
    z-index: 0;
}
.catering_bg::after{
    position: absolute;
    content: '';
    width: 100%;
    top: 0;
    bottom: 0;
    background-color: var(--dark-color);
    opacity: .7;
    z-index: -1;
}
.catering_btn {
    background: var(--primary-color);
    border-radius: 5px;
    padding: 10px 20px !important;
    color: var(--body-color) !important;
    display: inline-block;
    cursor: pointer;
}
h1{
    font-family: 'Gentium Book Plus', serif;
}
p{
    color: var(--text-color-light);
    margin: 1rem 0 1.5rem;
}
section{
    padding: 3rem 0;
}
.catering_content {
    padding: 1rem 1.5rem;
    box-shadow: 0 0 10px var(--body-color-shadow);
    border-radius: 5px;
    margin-bottom: 2rem;
    background-color: var(--body-color);
}

img{
    height: auto;
    max-width: 100%;
}
ul{
    list-style: none;
    padding: 0;
}

/* ================
    Header
================ */
header{
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 1;
}
.nav_list {
    gap: 1rem;
}
.nav-link{
    padding: 10px 20px !important;
    color: var(--body-color-light) !important;
    font-weight: var(--font-bold);
}
/* --------- //header --------- */


/* ================
    Home
================ */
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: -1;
}
/* --------- //home --------- */

/* ================
    Work
================ */
.work{
    position: relative;
}
.work_bg img {
    position: absolute;
    width: 500px;
    right: 0;
    top: -7rem;
    z-index: -1;
}
.work svg {
    padding: 10px;
    border-radius: 50%;
    background: var(--body-color-light);
    margin: 10px 0;
}
/* --------- //work --------- */

/* ================
    Food
================ */
.food{
    padding: 6rem 0;
}
.food_text{
    padding: 1.5rem;
    text-align: justify;
}
.client_dtl {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
/* --------- //food --------- */


/* ================
    Service
================ */
.service{
    background-image: url(../image/service_bg.jpg);
}
/* --------- //service --------- */


/* ================
    Footer
================ */
footer{
    padding-top: 3rem;
}
footer li {
    padding: 5px 0;
}
.form_submit, .social_media {
    border-bottom: 1px solid var(--body-color-light);
    margin-bottom: 1rem;
    padding-bottom: 10px;
}
.input_email {
    border: none;
    outline: none;
    padding: 5px 0;
}
.social_media svg {
    margin-right: 20px;
    color: var(--text-color-light);
}
.copy_write {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4rem 0 0;
}
.copy_write .nav-link {
    color: var(--text-color-light) !important;
}
/* --------- //footer --------- */

